<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <display-name>e-mail</display-name>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/welcome.xhtml</welcome-file>
        <!--<welcome-file>/welcome.xhtml</welcome-file>-->
    </welcome-file-list>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>

    <context-param>
        <param-name>facelets.DEVELOPMENT</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
        <param-value>1</param-value>
    </context-param>
    <!--<login-config>-->
        <!--<auth-method>FORM</auth-method>-->
        <!--<realm-name>proRealm</realm-name>-->
        <!--<form-login-config>-->
            <!--<form-login-page>/welcome.xhtml</form-login-page>-->
            <!--<form-error-page>/welcome.xhtml</form-error-page>-->
        <!--</form-login-config>-->
    <!--</login-config>-->

</web-app>
